<!DOCTYPE html>
<html>
<head>
{% load static %}
<title>Helden ONLINE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/ext.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">


<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">


<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="heon-light-grey">

<!-- Top container -->
<div class="heon-bar heon-top heon-dark-grey heon-large" style="z-index:4">
  <button class="heon-bar-item heon-button heon-hide-large heon-hover-none heon-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="heon-bar-item heon-right"><img src="{% static 'images/heon_logo.png' %}" width="30px">Helden ONLINE</span>
</div>

{% include 'sidebar.html' %}


<!-- Overlay effect when opening sidebar on small screens -->
<div class="heon-overlay heon-hide-large heon-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="heon-main" style="margin-left:300px;margin-top:43px;">


{% block content %}

{% endblock %}

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
