{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Header -->
  <header class="heon-container" style="padding-top:22px">
    <h5><b><i class="fa fa-diamond"></i> Beispielseite</b></h5>
  </header>

<div class="heon-row-padding heon-margin-bottom">
    <div class="heon-quarter">
      <div class="heon-container heon-red heon-padding-16">
        <div class="heon-left"><i class="fa fa-comment heon-xxxlarge"></i></div>
        <div class="heon-right">
          <h3>52</h3>
        </div>
        <div class="heon-clear"></div>
        <h4>Messages</h4>
      </div>
    </div>
    <div class="heon-quarter">
      <div class="heon-container heon-blue heon-padding-16">
        <div class="heon-left"><i class="fa fa-eye heon-xxxlarge"></i></div>
        <div class="heon-right">
          <h3>99</h3>
        </div>
        <div class="heon-clear"></div>
        <h4>Views</h4>
      </div>
    </div>
    <div class="heon-quarter">
      <div class="heon-container heon-teal heon-padding-16">
        <div class="heon-left"><i class="fa fa-share-alt heon-xxxlarge"></i></div>
        <div class="heon-right">
          <h3>23</h3>
        </div>
        <div class="heon-clear"></div>
        <h4>Shares</h4>
      </div>
    </div>
    <div class="heon-quarter">
      <div class="heon-container heon-orange heon-text-white heon-padding-16">
        <div class="heon-left"><i class="fa fa-users heon-xxxlarge"></i></div>
        <div class="heon-right">
          <h3>50</h3>
        </div>
        <div class="heon-clear"></div>
        <h4>Users</h4>
      </div>
    </div>
  </div>

  <div class="heon-panel">
    <div class="heon-row-padding" style="margin:0 -16px">
      <div class="heon-third">
        <h5>Regions</h5>
        <img src="/w3images/region.jpg" style="width:100%" alt="Google Regional Map">
      </div>
      <div class="heon-twothird">
        <h5>Feeds</h5>
        <table class="heon-table heon-striped heon-white">
          <tr>
            <td><i class="fa fa-user heon-text-blue heon-large"></i></td>
            <td>New record, over 90 views.</td>
            <td><i>10 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bell heon-text-red heon-large"></i></td>
            <td>Database error.</td>
            <td><i>15 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-users heon-text-yellow heon-large"></i></td>
            <td>New record, over 40 users.</td>
            <td><i>17 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-comment heon-text-red heon-large"></i></td>
            <td>New comments.</td>
            <td><i>25 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bookmark heon-text-blue heon-large"></i></td>
            <td>Check transactions.</td>
            <td><i>28 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-laptop heon-text-red heon-large"></i></td>
            <td>CPU overload.</td>
            <td><i>35 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-share-alt heon-text-green heon-large"></i></td>
            <td>New shares.</td>
            <td><i>39 mins</i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>
  <div class="heon-container">
    <h5>General Stats</h5>
    <p>New Visitors</p>
    <div class="heon-grey">
      <div class="heon-container heon-center heon-padding heon-green" style="width:25%">+25%</div>
    </div>

    <p>New Users</p>
    <div class="heon-grey">
      <div class="heon-container heon-center heon-padding heon-orange" style="width:50%">50%</div>
    </div>

    <p>Bounce Rate</p>
    <div class="heon-grey">
      <div class="heon-container heon-center heon-padding heon-red" style="width:75%">75%</div>
    </div>
  </div>
  <hr>

  <div class="heon-container">
    <h5>Countries</h5>
    <table class="heon-table heon-striped heon-bordered heon-border heon-hoverable heon-white">
      <tr>
        <td>United States</td>
        <td>65%</td>
      </tr>
      <tr>
        <td>UK</td>
        <td>15.7%</td>
      </tr>
      <tr>
        <td>Russia</td>
        <td>5.6%</td>
      </tr>
      <tr>
        <td>Spain</td>
        <td>2.1%</td>
      </tr>
      <tr>
        <td>India</td>
        <td>1.9%</td>
      </tr>
      <tr>
        <td>France</td>
        <td>1.5%</td>
      </tr>
    </table><br>
    <button class="heon-button heon-dark-grey">More Countries  <i class="fa fa-arrow-right"></i></button>
  </div>
  <hr>
  <div class="heon-container">
    <h5>Recent Users</h5>
    <ul class="heon-ul heon-card-4 heon-white">
      <li class="heon-padding-16">
        <img src="/w3images/avatar2.png" class="heon-left heon-circle heon-margin-right" style="width:35px">
        <span class="heon-xlarge">Mike</span><br>
      </li>
      <li class="heon-padding-16">
        <img src="/w3images/avatar5.png" class="heon-left heon-circle heon-margin-right" style="width:35px">
        <span class="heon-xlarge">Jill</span><br>
      </li>
      <li class="heon-padding-16">
        <img src="/w3images/avatar6.png" class="heon-left heon-circle heon-margin-right" style="width:35px">
        <span class="heon-xlarge">Jane</span><br>
      </li>
    </ul>
  </div>
  <hr>

  <div class="heon-container">
    <h5>Recent Comments</h5>
    <div class="heon-row">
      <div class="heon-col m2 text-center">
        <img class="heon-circle" src="/w3images/avatar3.png" style="width:96px;height:96px">
      </div>
      <div class="heon-col m10 heon-container">
        <h4>John <span class="heon-opacity heon-medium">Sep 29, 2014, 9:12 PM</span></h4>
        <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
      </div>
    </div>

    <div class="heon-row">
      <div class="heon-col m2 text-center">
        <img class="heon-circle" src="/w3images/avatar1.png" style="width:96px;height:96px">
      </div>
      <div class="heon-col m10 heon-container">
        <h4>Bo <span class="heon-opacity heon-medium">Sep 28, 2014, 10:15 PM</span></h4>
        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
      </div>
    </div>
  </div>
  <br>
  <div class="heon-container heon-dark-grey heon-padding-32">
    <div class="heon-row">
      <div class="heon-container heon-third">
        <h5 class="heon-bottombar heon-border-green">Demographic</h5>
        <p>Language</p>
        <p>Country</p>
        <p>City</p>
      </div>
      <div class="heon-container heon-third">
        <h5 class="heon-bottombar heon-border-red">System</h5>
        <p>Browser</p>
        <p>OS</p>
        <p>More</p>
      </div>
      <div class="heon-container heon-third">
        <h5 class="heon-bottombar heon-border-orange">Target</h5>
        <p>Users</p>
        <p>Active</p>
        <p>Geo</p>
        <p>Interests</p>
      </div>
    </div>
  </div>


{% endblock content %}