{% load static %}
<!-- Sidebar/menu -->
<nav class="heon-sidebar heon-collapse heon-orange heon-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="heon-container heon-row">
    <div class="heon-col s4">
      <img src="{% static 'images/heon_logo.png' %}" class="heon-margin-right" style="width:100%">
    </div>
    <div class="heon-col s8 heon-bar heon-center">
      <span class="heon-xlarge"><strong>Alrikalrikalrika</strong></span><br>
    </div>
    <div class="heon-col s8 heon-bar heon-center">
        <div class="heon-container">
            <div class="heon-row">
                <div class="heon-col s4"><a href="#" class="heon-bar-item heon-button"><i class="fa fa-envelope"></i></a></div>
                <div class="heon-col s4"><a href="#" class="heon-bar-item heon-button"><i class="fa fa-user"></i></a></div>
                <div class="heon-col s4"><a href="#" class="heon-bar-item heon-button"><i class="fa fa-sign-out"></i></a></div>
            </div>
        </div>
    </div>
  </div>
  <hr>

  <div class="heon-bar-block">
    <a href="#" class="heon-bar-item heon-button heon-padding-16 heon-hide-large heon-dark-grey heon-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="{% url 'web' %}" class="heon-bar-item heon-button heon-padding {% if request.path == '/' %}heon-light-grey{% endif %}"><i class="fa fa-house fa-fw"></i>  Startseite</a>
    <a href="#" class="heon-bar-item heon-button heon-padding"><i class="fa fa-eye fa-fw"></i>  Views</a>
    <a href="#" class="heon-bar-item heon-button heon-padding"><i class="fa fa-users fa-fw"></i>  Traffic</a>
    <a href="#" class="heon-bar-item heon-button heon-padding"><i class="fa fa-bullseye fa-fw"></i>  Geo</a>
    <a href="{% url 'example' %}" class="heon-bar-item heon-button heon-padding {% if request.path == '/example' %}heon-light-grey{% endif %}"><i class="fa fa-diamond fa-fw"></i>  Beispielseite</a>
    <a href="#" class="heon-bar-item heon-button heon-padding"><i class="fa fa-bell fa-fw"></i>  News</a>
    <a href="#" class="heon-bar-item heon-button heon-padding"><i class="fa fa-bank fa-fw"></i>  General</a>
      <hr>

    <a href="#" class="heon-bar-item heon-button heon-padding"><i class="fa fa-section fa-fw"></i>  Impressum</a>
    <a href="#" class="heon-bar-item heon-button heon-padding"><i class="fa fa-shield fa-fw"></i>  Datenschutz</a><br><br>
  </div>
    <!-- Footer -->
  <footer class="heon-container heon-padding-16 heon-dark-grey heon-hide-small heon-tiny">
    <p>Backend by <a href="https://www.djangoproject.com/" target="_blank">Django</a> and <a href="https://www.python.org/" target="_blank">Python</a></p>
    <p><p>Template by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p></p>
    <p>Developed by <a href="https://sebastian-christoph.de/" target="_blank">Sebastian Christoph</a></p>
    <p>Version 1.0.0</p>
  </footer>
</nav>