:root {
    --heon-greylight: #EAEAEA;
    --heon-grey: #505050;
    --heon-greydark: #222222;
    --heon-orangelight: #E47429;
    --heon-orange: #C65102;
    --heon-orangedark: #893101;
    --heon-gold: #CDA434;
}

/* W3.CSS 5.02 March 31 2025 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.heon-serif{font-family:serif}.heon-sans-serif{font-family:sans-serif}.heon-cursive{font-family:cursive}.heon-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.heon-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.heon-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.heon-table,.heon-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.heon-table-all{border:1px solid #ccc}
.heon-bordered tr,.heon-table-all tr{border-bottom:1px solid #ddd}.heon-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.heon-table-all tr:nth-child(odd){background-color:#fff}.heon-table-all tr:nth-child(even){background-color:#f1f1f1}
.heon-hoverable tbody tr:hover,.heon-ul.heon-hoverable li:hover{background-color:#ccc}.heon-centered tr th,.heon-centered tr td{text-align:center}
.heon-table td,.heon-table th,.heon-table-all td,.heon-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.heon-table th:first-child,.heon-table td:first-child,.heon-table-all th:first-child,.heon-table-all td:first-child{padding-left:16px}
.heon-btn,.heon-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.heon-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.heon-btn,.heon-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.heon-disabled,.heon-btn:disabled,.heon-button:disabled{cursor:not-allowed;opacity:0.3}.heon-disabled *,:disabled *{pointer-events:none}
.heon-btn.heon-disabled:hover,.heon-btn:disabled:hover{box-shadow:none}
.heon-badge,.heon-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.heon-badge{border-radius:50%}
.heon-ul{list-style-type:none;padding:0;margin:0}.heon-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.heon-ul li:last-child{border-bottom:none}
.heon-tooltip,.heon-display-container{position:relative}.heon-tooltip .heon-text{display:none}.heon-tooltip:hover .heon-text{display:inline-block}
.heon-ripple:active{opacity:0.5}.heon-ripple{transition:opacity 0s}
.heon-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.heon-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.heon-dropdown-click,.heon-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.heon-dropdown-hover:hover .heon-dropdown-content{display:block}
.heon-dropdown-hover:first-child,.heon-dropdown-click:hover{background-color:#ccc;color:#000}
.heon-dropdown-hover:hover > .heon-button:first-child,.heon-dropdown-click:hover > .heon-button:first-child{background-color:#ccc;color:#000}
.heon-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.heon-check,.heon-radio{width:24px;height:24px;position:relative;top:6px}
.heon-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.heon-bar-block .heon-dropdown-hover,.heon-bar-block .heon-dropdown-click{width:100%}
.heon-bar-block .heon-dropdown-hover .heon-dropdown-content,.heon-bar-block .heon-dropdown-click .heon-dropdown-content{min-width:100%}
.heon-bar-block .heon-dropdown-hover .heon-button,.heon-bar-block .heon-dropdown-click .heon-button{width:100%;text-align:left;padding:8px 16px}
.heon-main,#main{transition:margin-left .4s}
.heon-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.heon-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.heon-bar{width:100%;overflow:hidden}.heon-center .heon-bar{display:inline-block;width:auto}
.heon-bar .heon-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.heon-bar .heon-dropdown-hover,.heon-bar .heon-dropdown-click{position:static;float:left}
.heon-bar .heon-button{white-space:normal}
.heon-bar-block .heon-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.heon-bar-block.heon-center .heon-bar-item{text-align:center}.heon-block{display:block;width:100%}
.heon-responsive{display:block;overflow-x:auto}
.heon-container:after,.heon-container:before,.heon-panel:after,.heon-panel:before,.heon-row:after,.heon-row:before,.heon-row-padding:after,.heon-row-padding:before,
.heon-cell-row:before,.heon-cell-row:after,.heon-clear:after,.heon-clear:before,.heon-bar:before,.heon-bar:after{content:"";display:table;clear:both}
.heon-col,.heon-half,.heon-third,.heon-twothird,.heon-threequarter,.heon-quarter{float:left;width:100%}
.heon-col.s1{width:8.33333%}.heon-col.s2{width:16.66666%}.heon-col.s3{width:24.99999%}.heon-col.s4{width:33.33333%}
.heon-col.s5{width:41.66666%}.heon-col.s6{width:49.99999%}.heon-col.s7{width:58.33333%}.heon-col.s8{width:66.66666%}
.heon-col.s9{width:74.99999%}.heon-col.s10{width:83.33333%}.heon-col.s11{width:91.66666%}.heon-col.s12{width:99.99999%}
@media (min-width:601px){.heon-col.m1{width:8.33333%}.heon-col.m2{width:16.66666%}.heon-col.m3,.heon-quarter{width:24.99999%}.heon-col.m4,.heon-third{width:33.33333%}
.heon-col.m5{width:41.66666%}.heon-col.m6,.heon-half{width:49.99999%}.heon-col.m7{width:58.33333%}.heon-col.m8,.heon-twothird{width:66.66666%}
.heon-col.m9,.heon-threequarter{width:74.99999%}.heon-col.m10{width:83.33333%}.heon-col.m11{width:91.66666%}.heon-col.m12{width:99.99999%}}
@media (min-width:993px){.heon-col.l1{width:8.33333%}.heon-col.l2{width:16.66666%}.heon-col.l3{width:24.99999%}.heon-col.l4{width:33.33333%}
.heon-col.l5{width:41.66666%}.heon-col.l6{width:49.99999%}.heon-col.l7{width:58.33333%}.heon-col.l8{width:66.66666%}
.heon-col.l9{width:74.99999%}.heon-col.l10{width:83.33333%}.heon-col.l11{width:91.66666%}.heon-col.l12{width:99.99999%}}
.heon-rest{overflow:hidden}.heon-stretch{margin-left:-16px;margin-right:-16px}
.heon-content,.heon-auto{margin-left:auto;margin-right:auto}.heon-content{max-width:980px}.heon-auto{max-width:1140px}
.heon-cell-row{display:table;width:100%}.heon-cell{display:table-cell}
.heon-cell-top{vertical-align:top}.heon-cell-middle{vertical-align:middle}.heon-cell-bottom{vertical-align:bottom}
.heon-hide{display:none!important}.heon-show-block,.heon-show{display:block!important}.heon-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.heon-auto{max-width:95%}}
@media (max-width:600px){.heon-modal-content{margin:0 10px;width:auto!important}.heon-modal{padding-top:30px}
.heon-dropdown-hover.heon-mobile .heon-dropdown-content,.heon-dropdown-click.heon-mobile .heon-dropdown-content{position:relative}
.heon-hide-small{display:none!important}.heon-mobile{display:block;width:100%!important}.heon-bar-item.heon-mobile,.heon-dropdown-hover.heon-mobile,.heon-dropdown-click.heon-mobile{text-align:center}
.heon-dropdown-hover.heon-mobile,.heon-dropdown-hover.heon-mobile .heon-btn,.heon-dropdown-hover.heon-mobile .heon-button,.heon-dropdown-click.heon-mobile,.heon-dropdown-click.heon-mobile .heon-btn,.heon-dropdown-click.heon-mobile .heon-button{width:100%}}
@media (max-width:768px){.heon-modal-content{width:500px}.heon-modal{padding-top:50px}}
@media (min-width:993px){.heon-modal-content{width:900px}.heon-hide-large{display:none!important}.heon-sidebar.heon-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.heon-hide-medium{display:none!important}}
@media (max-width:992px){.heon-sidebar.heon-collapse{display:none}.heon-main{margin-left:0!important;margin-right:0!important}.heon-auto{max-width:100%}}
.heon-top,.heon-bottom{position:fixed;width:100%;z-index:1}.heon-top{top:0}.heon-bottom{bottom:0}
.heon-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.heon-display-topleft{position:absolute;left:0;top:0}.heon-display-topright{position:absolute;right:0;top:0}
.heon-display-bottomleft{position:absolute;left:0;bottom:0}.heon-display-bottomright{position:absolute;right:0;bottom:0}
.heon-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.heon-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.heon-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.heon-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.heon-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.heon-display-container:hover .heon-display-hover{display:block}.heon-display-container:hover span.heon-display-hover{display:inline-block}.heon-display-hover{display:none}
.heon-display-position{position:absolute}
.heon-circle{border-radius:50%}
.heon-round-small{border-radius:2px}.heon-round,.heon-round-medium{border-radius:4px}.heon-round-large{border-radius:8px}.heon-round-xlarge{border-radius:16px}.heon-round-xxlarge{border-radius:32px}
.heon-row-padding,.heon-row-padding>.heon-half,.heon-row-padding>.heon-third,.heon-row-padding>.heon-twothird,.heon-row-padding>.heon-threequarter,.heon-row-padding>.heon-quarter,.heon-row-padding>.heon-col{padding:0 8px}
.heon-container,.heon-panel{padding:0.01em 16px}.heon-panel{margin-top:16px;margin-bottom:16px}
.heon-grid{display:grid}.heon-grid-padding{display:grid;gap:16px}.heon-flex{display:flex}
.heon-text-center{text-align:center}.heon-text-bold,.heon-bold{font-weight:bold}.heon-text-italic,.heon-italic{font-style:italic}
.heon-code,.heon-codespan{font-family:Consolas,"courier new";font-size:16px}
.heon-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.heon-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.heon-card,.heon-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.heon-card-4,.heon-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.heon-spin{animation:heon-spin 2s infinite linear}@keyframes heon-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.heon-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.heon-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.heon-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.heon-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.heon-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.heon-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.heon-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.heon-animate-input{transition:width 0.4s ease-in-out}.heon-animate-input:focus{width:100%!important}
.heon-opacity,.heon-hover-opacity:hover{opacity:0.60}.heon-opacity-off,.heon-hover-opacity-off:hover{opacity:1}
.heon-opacity-max{opacity:0.25}.heon-opacity-min{opacity:0.75}
.heon-greyscale-max,.heon-grayscale-max,.heon-hover-greyscale:hover,.heon-hover-grayscale:hover{filter:grayscale(100%)}
.heon-greyscale,.heon-grayscale{filter:grayscale(75%)}.heon-greyscale-min,.heon-grayscale-min{filter:grayscale(50%)}
.heon-sepia{filter:sepia(75%)}.heon-sepia-max,.heon-hover-sepia:hover{filter:sepia(100%)}.heon-sepia-min{filter:sepia(50%)}
.heon-tiny{font-size:10px!important}.heon-small{font-size:12px!important}.heon-medium{font-size:15px!important}.heon-large{font-size:18px!important}
.heon-xlarge{font-size:24px!important}.heon-xxlarge{font-size:36px!important}.heon-xxxlarge{font-size:48px!important}.heon-jumbo{font-size:64px!important}
.heon-left-align{text-align:left!important}.heon-right-align{text-align:right!important}.heon-justify{text-align:justify!important}.heon-center{text-align:center!important}
.heon-border-0{border:0!important}.heon-border{border:1px solid #ccc!important}
.heon-border-top{border-top:1px solid #ccc!important}.heon-border-bottom{border-bottom:1px solid #ccc!important}
.heon-border-left{border-left:1px solid #ccc!important}.heon-border-right{border-right:1px solid #ccc!important}
.heon-topbar{border-top:6px solid #ccc!important}.heon-bottombar{border-bottom:6px solid #ccc!important}
.heon-leftbar{border-left:6px solid #ccc!important}.heon-rightbar{border-right:6px solid #ccc!important}
.heon-section,.heon-code{margin-top:16px!important;margin-bottom:16px!important}
.heon-margin{margin:16px!important}.heon-margin-top{margin-top:16px!important}.heon-margin-bottom{margin-bottom:16px!important}
.heon-margin-left{margin-left:16px!important}.heon-margin-right{margin-right:16px!important}
.heon-padding-small{padding:4px 8px!important}.heon-padding{padding:8px 16px!important}.heon-padding-large{padding:12px 24px!important}
.heon-padding-16{padding-top:16px!important;padding-bottom:16px!important}.heon-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.heon-padding-32{padding-top:32px!important;padding-bottom:32px!important}.heon-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.heon-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.heon-padding-top-64{padding-top:64px!important}.heon-padding-top-48{padding-top:48px!important}
.heon-padding-top-32{padding-top:32px!important}.heon-padding-top-24{padding-top:24px!important}
.heon-left{float:left!important}.heon-right{float:right!important}

/*.heon-button:hover{color:#000!important;background-color:#ccc!important}*/
.heon-button:hover{color:var(--heon-greylight)!important;background-color:var(--heon-orangedark)!important}

.heon-transparent,.heon-hover-none:hover{background-color:transparent!important}
.heon-hover-none:hover{box-shadow:none!important}
.heon-rtl{direction:rtl}.heon-ltr{direction:ltr}
/* Colors */
.heon-amber,.heon-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.heon-aqua,.heon-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.heon-blue,.heon-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.heon-light-blue,.heon-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.heon-brown,.heon-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.heon-cyan,.heon-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.heon-blue-grey,.heon-hover-blue-grey:hover,.heon-blue-gray,.heon-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.heon-green,.heon-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.heon-light-green,.heon-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.heon-indigo,.heon-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.heon-khaki,.heon-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.heon-lime,.heon-hover-lime:hover{color:#000!important;background-color:#cddc39!important}

/*.heon-orange,.heon-hover-orange:hover{color:#000!important;background-color:#ff9800!important}*/
.heon-orange,.heon-hover-orange:hover{color:var(--heon-greydark)!important;background-color:var(--heon-orangelight)!important}

.heon-deep-orange,.heon-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.heon-pink,.heon-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.heon-purple,.heon-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.heon-deep-purple,.heon-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.heon-red,.heon-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.heon-sand,.heon-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.heon-teal,.heon-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.heon-yellow,.heon-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.heon-white,.heon-hover-white:hover{color:#000!important;background-color:#fff!important}
.heon-black,.heon-hover-black:hover{color:#fff!important;background-color:#000!important}
.heon-grey,.heon-hover-grey:hover,.heon-gray,.heon-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}

/*.heon-light-grey,.heon-hover-light-grey:hover,.heon-light-gray,.heon-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}*/
.heon-light-grey,.heon-hover-light-grey:hover,.heon-light-gray,.heon-hover-light-gray:hover{color:var(--heon-greydark)!important;background-color:var(--heon-greylight)!important}

/*.heon-dark-grey,.heon-hover-dark-grey:hover,.heon-dark-gray,.heon-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}*/
.heon-dark-grey,.heon-hover-dark-grey:hover,.heon-dark-gray,.heon-hover-dark-gray:hover{color:var(--heon-greylight)!important;background-color:var(--heon-greydark)!important}


.heon-asphalt,.heon-hover-asphalt:hover{color:#fff!important;background-color:#343a40!important}
.heon-crimson,.heon-hover-crimson:hover{color:#fff!important;background-color:#a20025!important}
.heon-cobalt,heon-hover-cobalt:hover{color:#fff!important;background-color:#0050ef!important}
.heon-emerald,.heon-hover-emerald:hover{color:#fff!important;background-color:#008a00!important}
.heon-olive,.heon-hover-olive:hover{color:#fff!important;background-color:#6d8764!important}
.heon-paper,.heon-hover-paper:hover{color:#000!important;background-color:#f8f9fa!important}
.heon-sienna,.heon-hover-sienna:hover{color:#fff!important;background-color:#a0522d!important}
.heon-taupe,.heon-hover-taupe:hover{color:#fff!important;background-color:#87794e!important}
.heon-danger{color:#fff!important;background-color:#dd0000!important}
.heon-note{color:#000!important;background-color:#fff599!important}
.heon-info{color:#fff!important;background-color:#0a6fc2!important}
.heon-warning{color:#000!important;background-color:#ffb305!important}
.heon-success{color:#fff!important;background-color:#008a00!important}
.heon-pale-red,.heon-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.heon-pale-green,.heon-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.heon-pale-yellow,.heon-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.heon-pale-blue,.heon-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.heon-text-amber,.heon-hover-text-amber:hover{color:#ffc107!important}
.heon-text-aqua,.heon-hover-text-aqua:hover{color:#00ffff!important}
.heon-text-blue,.heon-hover-text-blue:hover{color:#2196F3!important}
.heon-text-light-blue,.heon-hover-text-light-blue:hover{color:#87CEEB!important}
.heon-text-brown,.heon-hover-text-brown:hover{color:#795548!important}
.heon-text-cyan,.heon-hover-text-cyan:hover{color:#00bcd4!important}
.heon-text-blue-grey,.heon-hover-text-blue-grey:hover,.heon-text-blue-gray,.heon-hover-text-blue-gray:hover{color:#607d8b!important}
.heon-text-green,.heon-hover-text-green:hover{color:#4CAF50!important}
.heon-text-light-green,.heon-hover-text-light-green:hover{color:#8bc34a!important}
.heon-text-indigo,.heon-hover-text-indigo:hover{color:#3f51b5!important}
.heon-text-khaki,.heon-hover-text-khaki:hover{color:#b4aa50!important}
.heon-text-lime,.heon-hover-text-lime:hover{color:#cddc39!important}
.heon-text-orange,.heon-hover-text-orange:hover{color:#ff9800!important}
.heon-text-deep-orange,.heon-hover-text-deep-orange:hover{color:#ff5722!important}
.heon-text-pink,.heon-hover-text-pink:hover{color:#e91e63!important}
.heon-text-purple,.heon-hover-text-purple:hover{color:#9c27b0!important}
.heon-text-deep-purple,.heon-hover-text-deep-purple:hover{color:#673ab7!important}
.heon-text-red,.heon-hover-text-red:hover{color:#f44336!important}
.heon-text-sand,.heon-hover-text-sand:hover{color:#fdf5e6!important}
.heon-text-teal,.heon-hover-text-teal:hover{color:#009688!important}
.heon-text-yellow,.heon-hover-text-yellow:hover{color:#d2be0e!important}
.heon-text-white,.heon-hover-text-white:hover{color:#fff!important}
.heon-text-black,.heon-hover-text-black:hover{color:#000!important}
.heon-text-grey,.heon-hover-text-grey:hover,.heon-text-gray,.heon-hover-text-gray:hover{color:#757575!important}
.heon-text-light-grey,.heon-hover-text-light-grey:hover,.heon-text-light-gray,.heon-hover-text-light-gray:hover{color:#f1f1f1!important}
.heon-text-dark-grey,.heon-hover-text-dark-grey:hover,.heon-text-dark-gray,.heon-hover-text-dark-gray:hover{color:#3a3a3a!important}
.heon-border-amber,.heon-hover-border-amber:hover{border-color:#ffc107!important}
.heon-border-aqua,.heon-hover-border-aqua:hover{border-color:#00ffff!important}
.heon-border-blue,.heon-hover-border-blue:hover{border-color:#2196F3!important}
.heon-border-light-blue,.heon-hover-border-light-blue:hover{border-color:#87CEEB!important}
.heon-border-brown,.heon-hover-border-brown:hover{border-color:#795548!important}
.heon-border-cyan,.heon-hover-border-cyan:hover{border-color:#00bcd4!important}
.heon-border-blue-grey,.heon-hover-border-blue-grey:hover,.heon-border-blue-gray,.heon-hover-border-blue-gray:hover{border-color:#607d8b!important}
.heon-border-green,.heon-hover-border-green:hover{border-color:#4CAF50!important}
.heon-border-light-green,.heon-hover-border-light-green:hover{border-color:#8bc34a!important}
.heon-border-indigo,.heon-hover-border-indigo:hover{border-color:#3f51b5!important}
.heon-border-khaki,.heon-hover-border-khaki:hover{border-color:#f0e68c!important}
.heon-border-lime,.heon-hover-border-lime:hover{border-color:#cddc39!important}
.heon-border-orange,.heon-hover-border-orange:hover{border-color:#ff9800!important}
.heon-border-deep-orange,.heon-hover-border-deep-orange:hover{border-color:#ff5722!important}
.heon-border-pink,.heon-hover-border-pink:hover{border-color:#e91e63!important}
.heon-border-purple,.heon-hover-border-purple:hover{border-color:#9c27b0!important}
.heon-border-deep-purple,.heon-hover-border-deep-purple:hover{border-color:#673ab7!important}
.heon-border-red,.heon-hover-border-red:hover{border-color:#f44336!important}
.heon-border-sand,.heon-hover-border-sand:hover{border-color:#fdf5e6!important}
.heon-border-teal,.heon-hover-border-teal:hover{border-color:#009688!important}
.heon-border-yellow,.heon-hover-border-yellow:hover{border-color:#ffeb3b!important}
.heon-border-white,.heon-hover-border-white:hover{border-color:#fff!important}
.heon-border-black,.heon-hover-border-black:hover{border-color:#000!important}
.heon-border-grey,.heon-hover-border-grey:hover,.heon-border-gray,.heon-hover-border-gray:hover{border-color:#9e9e9e!important}
.heon-border-light-grey,.heon-hover-border-light-grey:hover,.heon-border-light-gray,.heon-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.heon-border-dark-grey,.heon-hover-border-dark-grey:hover,.heon-border-dark-gray,.heon-hover-border-dark-gray:hover{border-color:#616161!important}
.heon-border-pale-red,.heon-hover-border-pale-red:hover{border-color:#ffe7e7!important}.heon-border-pale-green,.heon-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.heon-border-pale-yellow,.heon-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.heon-border-pale-blue,.heon-hover-border-pale-blue:hover{border-color:#e7ffff!important}




footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-bottom: 43px;
}